.snippet {
  display: flex;
  width: 100%;
  overflow: hidden;
  border: 1px solid var(--color-neutral-800);
  border-radius: var(--radius-xl);
  background: var(--color-neutral-800);
}

.snippet-text {
  flex: 1;
  overflow-x: auto;
  padding: 0.625rem 1rem;
  font-size: var(--text-sm);
  line-height: var(--text-sm--line-height);
}

.snippet-text--empty {
  opacity: 0.5;
}

.snippet-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  margin: 0.25rem;
  border-radius: var(--radius-lg);
  cursor: pointer;
  transition: background-color 150ms;
}

.snippet-button:hover {
  background: color-mix(in oklab, var(--color-white) 10%, transparent);
}

.snippet-button:disabled {
  pointer-events: none;
  opacity: 0.5;
}

.snippet-icon {
  width: 1rem;
  height: 1rem;
  transition: all 150ms;
}

.snippet-icon--copy {
  scale: 1;
  rotate: 0deg;
}

.snippet-icon--check {
  position: absolute;
  scale: 0;
  rotate: 90deg;
  color: var(--color-green-500);
}

.snippet[data-copied="true"] .snippet-icon--copy {
  scale: 0;
  rotate: -90deg;
}

.snippet[data-copied="true"] .snippet-icon--check {
  scale: 1;
  rotate: 0deg;
}
